<launch>
  <node name="node_B" pkg="homework_1" type="node_B.py" output="screen" />
  <node name="node_C" pkg="homework_1" type="node_C.py" output="screen" />
  <node name="node_D" pkg="homework_1" type="node_D.py" output="screen" />
  <node name="node_A" pkg="homework_1" type="node_A.py" output="screen" />
</launch>